.chart-container {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.chart-left, .chart-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.chart-section {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.chart-img {
    width: 90%;
    height: 80%;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 8px;
}

h4 {
    margin: 10px 0;
    color: #18305c;
}
